body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
#Header-M{
    width: 100%;
    height: 80px;
}
.H-M-1 {
    width: 100%;
    height: 50px;
    background-color: #242526;
    display: flex;
    justify-content: center;
}
.H1-contairner {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.H1-c1 {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}
.H1-c2 {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial;
}
.H1-c2-it{
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.H1-c2-it:hover {
    background-color: #2F566D;
    cursor: pointer;
}
.DM {
    display: none;
    background-color: #2F566D;
    position: absolute;
    width: 160px;
    top: 50px;
    margin-left: 30px;
    font-family: Arial;
    z-index: 4;
}
.dmhv:hover .DM{
    display: block;
}
.DM-it {
    width: 144px;
    padding-left: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    color: white;
}
.DM-it:hover{
    background-color: #14425D;
}
.TL {
    display: none;
    background-color: #2F566D;
    position: absolute;
    width: 160px;
    top: 50px;
    margin-left: 30px;
    font-family: Arial;
    z-index: 4;
}
.dmtl:hover .TL {
    display: block;
}
.marginl {
    margin-left: 5px;
}
.marginr {
    margin-right: 5px;
}
.H1-c3 {
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.ip-search {
    height: 30px;
    width: 180px;
    padding: 0 10px;
    outline: none;
    font-size: 15px;
    border: none;
    background-color: #3A3B3C;
    color: white;
}
.btn-search {
    height: 32px;
    width: 32px;
    background-color: #3A3B3C;
    color: #92BB35;
    border: 1px solid #92BB35;
    cursor: pointer;
}
.H-M-2 {
    width: 100%;
    height: 30px;
    background-color: #2E3740;
    display: flex;
    justify-content: center;
}
.Nguon {
    height: 100%;
    width: 74%;
    display: flex;
    align-items: center;
    font-family: Arial;
    color: #A4B1B1;
    font-size: 13px;
}
/*Footer*/
#footer{
    width: 100%;
    height: 150px;
    background-color: #121212;
}
.f1{
    width: 500px;
    height: 100px;
    margin-left: 13%;
    display: flex;
    align-items: center;
    color: #8D8D8D;
    font-size: 13px;
    font-family: Arial;
}
.f2 {
    height: 50px;
    margin-left: 13%;
    display: flex;
    align-items: center;
    color: #8D8D8D;
    font-size: 15px;
    font-family: Arial;
}
/**/